# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/

# Ignore environment variable files
.env

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db
